
<!DOCTYPE HTML>
    <html>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

          
          <title>Rifa garmin venu 2 plus</title>
        </head>
        <body>
            {%block content %}Contenido nuevo{% endblock %}
            <br /><br />
            <div class="alert alert-primary" role="alert">
            Juega con la LOTERÍA DEL TOLIMA 3 Últimos números del premio Mayor CONVINADO - JULIO 26 2022<br />
            Reloj GARMIN Venu® 2 Plus <br />
            <h2><a href="https://www.garmin.com/es-ES/p/730659/pn/010-02496-11" target="_blank">LINK Modelo!</a></h2>
            Responsable JORGE ALEJANDRO MONTENEGRO T. 
            </div>
        </body>
    </html>